<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <!------------------------------------------------------  CSS Casero -------------------------------------------->
    <link href="/static/css/new.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/all.css">
    <!------------------------------------------------------ Jquery -------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!------------------------------------------------------ Bootstrap -------------------------------------------->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- JS, Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>


</head>

<body>
    <div class="header">
        <div class="left">
            <p>iDoctor</p>
        </div>
        <div class="right">
            <div class="doc">
                <img src="../static/img/1.jpg" alt="" class="img">
                <p>Donkain69</p>
            </div>
            <div class="out">
                <a href="{{url_for('logout')}}">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="lbar">
        <div class="search">
            <input type="text" placeholder="Buscar..">
        </div>
        <ul>
            <i class="fas fa-users"><a href="{{url_for('misPacientes')}}">Mis pacientes</a> </i>
            <i class="fas fa-th-list"><a href="#">Mis consultas</a> </i>
            <i class="fas fa-briefcase"><a href="{{url_for('ver_historial_examenes')}}">Exámenes médicos</a></i>
        </ul>
    </div>
    <div class="cont">
        <div class="header2">
            <i class="fas fa-briefcase-medical"><span>{{title}}</span></i>
        </div>
        <div class="in">
            {% block content %}{% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}{% endblock %}
        </div>
    </div>
    <!-- <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Programado con mucho Amor <i class="fas fa-heart"></i> y Alcohol <i class="fas fa-beer"></i> </span>
      </div>
    </div>
  </footer> -->
    <!-- Bootstrap core JavaScript-->
    <!-- <script src="/static/js/jquery/jquery.js"></script> -->




    <!-- Core plugin JavaScript-->
    <!-- <script src="/static/js/jquery/jquery.easing.min.js"></script> -->

    <!-- Custom scripts for all pages-->
    <!-- <script src="/static/js/sb-admin.js"></script>
    <script src="https://unpkg.com/jspdf@1.5.3/dist/jspdf.min.js"></script>
    <script src="https://unpkg.com/jspdf-autotable@3.2.5/dist/jspdf.plugin.autotable.js"></script>
    <script>
        function generarPDF() {
            var doc = new jsPDF();
            doc.autoTable({
                html: '#tabla'
            });
            doc.save('table.pdf');
        }
    </script> -->

</body>

</html>