{% extends "new_navbar.html" %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center align-items-center login">
            <div class="card tarjeta-login mb-4 mt-4">
                <div class="card-header">
                    <h3>Crear Modelo</h3>
                </div>

                <div class="card-body">
                    <form action="#" method="POST">
                        {{ form.hidden_tag() }}

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    {{form.nombre.label()}}
                                    {% if form.nombre.errors %}
                                        {{form.nombre(class="form-control is-invalid", placeholder="Nombre")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.nombre.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.nombre(class="form-control", placeholder="Nombre")}}
                                    {% endif %}             
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    {{form.tipo_prenda.label()}}
                                    {% if form.tipo_prenda.errors %}

                                        {{form.tipo_prenda(class="form-control is-invalid", placeholder="Tipo de Prenda")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.tipo_prenda.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.tipo_prenda(class="form-control", placeholder="Tipo de Prenda")}}
                                    {% endif %}             
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">

                                    {{form.peso_kg.label()}}
                                    {% if form.peso_kg.errors %}

                                        {{form.peso_kg(class="form-control is-invalid", placeholder="Peso en Kg")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.peso_kg.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.peso_kg(class="form-control", placeholder="Peso en Kg")}}
                                    {% endif %}             
                                </div>
                            </div>    
                            <div class="col">
                                <div class="form-group">
                                    {{form.cantidad.label()}}
                                    {% if form.cantidad.errors %}

                                        {{form.cantidad(class="form-control is-invalid", placeholder="Piezas")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.cantidad.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.cantidad(class="form-control", placeholder="Piezas")}}
                                    {% endif %}             
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                                    {{form.precio.label()}}
                                    {% if form.precio.errors %}

                                        {{form.precio(class="form-control is-invalid", placeholder="Precio")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.precio.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.precio(class="form-control", placeholder="Precio")}}
                                    {% endif %}             
                        </div>
                        <div class="form-group">
                            {{form.tela.label()}}
                                    {% if form.tela.errors %}

                                        {{form.tela(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.tela.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.tela(class="form-control")}}
                                    {% endif %}          
                        </div>

                        <div class="form-group">
                            {{form.genero.label()}}
                                    {% if form.genero.errors %}

                                        {{form.genero(class="form-control is-invalid")}}
                                        <div class="invalid-feedback">
                                            {% for error in form.genero.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{form.genero(class="form-control")}}
                                    {% endif %}    
                                
                        </div>

                        <div class="form-group">
                            {{form.submit(class="btn btn-primary btn-block")}}
                        </div>    
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}