{% extends "base.html" %}
{% block content %}
<!------------------------------------------------------ Datatables -------------------------------------------->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<!-- aqui va el pack -->
<div class="cards" style="background-color: white !important;">
    <table id="example" class="table" style="width:100%">
        <thead class=" table-active">
            <tr>
                <th>No. Examen</th>
                <th>Fecha Solicitud</th>
                <th>Doctor</th>
                <th>Nombre Paciente</th>
                <th>Examen</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>

            {% for exam in historial %}

            <tr class="{% if exam.6 == 0%} table-warning {%else%} table-success{%endif%}">
                <td>{{exam.0}}</td>
                <td>{{exam.1}}</td>
                <td>Dr. {{exam.2}} {{exam.3}}</td>
                <td>{{exam.4}}</td>
                <td>{{exam.5}}</td>
                <td>
                    {% if exam.6 == 0%}
                        Solicitado
                    {%else%}
                        Entregado
                        <a style="margin-left: 30px;" href="{{url_for('ver_examen',id=exam.0)}}">
                            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"></path>
                                <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                            </svg>
                        </a>
                    {%endif%}
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>
{% endblock content %}