{% extends "base_admin.html" %}
{% block content %}

{% for data in form %}
	<div class="bloques">
        <div class="puntos">
            <!-- <img src="../static/img/1.jpg" alt="" class="img"> -->
            <p>:</p>
        </div>
        <div class="perfil">
            <img src="../static/img/1.jpg" alt="" class="img">
        </div>
        <div class="info">
            <div class="tt1">
                <p>{{ data.1 }}</p>
            </div>
            <div class="tt">
                <p>{{data.3}} años</p>
            </div>
            <div class="tt2">
                <p>{{data.2}}</p>
            </div>
            <div class="tt">
                <!-- <button class=" btn btn-danger btn-lg" href="{{url_for('nuevoPaciente')}}">Historial</button> -->
            </div>
            <div class="tt">
                <a href="{{url_for('alta_paciente', id=data.0)}}" class="btn btn-danger btn-lg">Dar de alta</a>
                <a href="{{url_for('asignar_paciente', id=data.0)}}" class="btn btn-danger btn-lg">Asignar</a>
                <!-- <button class=" btn btn-danger btn-lg" href="{{url_for('nuevoPaciente')}}">Historial</button> -->
            </div>

        </div>
        <div></div>

    </div>
    {% endfor %}

    <div class="bloques">
        <div class="plus">
            <img src="" alt="">
        </div>
        <div class="plusT">
            <a href="{{url_for('nuevoPaciente')}}">Nuevo paciente</a>
        </div>
    </div>

{% endblock %}