{% extends "new_navbar.html" %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


   <!-- <div class="card-body">
            <table class="table" id="tabla">
                <thead class="thead-dark">
                    <tr>              
                        <th>Nombre(s)</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Permisos</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                
                {% for data in form %}
                    {% if current_user.correo != data.5 %}
                    <tr>
                        <td>{{ data.1 }}</td>
                        <td>{{ data.2 }}</td>
                        <td>{{ data.5 }}</td>
                        <td>{{ data.3}}</td>
                        <td>   
                            <a href="{{url_for('eliminar',tabla='usuarios',id=data.0,vista='usuarios')}}" class="float-left">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>   
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
            </table>
        </div>
        
-->
        <div class="container">
            <div class="row">
                <div class="col">
                    <button onclick="window.location.href='{{url_for('login')}}'" type="button" class="btn btn-primary  btn-block">
                        Iniciar sesion
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-success btn-block" onclick="generarPDF()">Generar PDF</button>
                </div>
            </div>
        </div>
            <script src="/static/js/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#tabla').DataTable();
                } );

            </script>
{% endblock content %}